.interna_produtos {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}

.produtos_item {
  padding-top: 60px;
}

.produtos_item h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #fff;
  position: relative;
  top: -185px;
  text-align: center;
  margin-bottom: -56px;
}

.produtos_item h2::after,
.produtos_item h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 8px auto 8px auto;
}
.produto_icone {
  background: #000;
  padding: 70px 0;
}

.produto_icone img {
  margin: 0 auto;
}

.produto_info {
  background: #000;
}

.produto_info p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding: 25px 40px;
  height: 180px;
}

.produto_info ul li {
  background: #fec63e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  float: left;
  width: 229px;
  height: 49px;
  padding-top: 14px;
}

.produto_info ul li:first-child {
  margin-bottom: 2px;
}

.produto_info ul li:nth-child(odd) {
  margin-right: 2px;
}
