/* TABLET */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* QUALIDADE HOME */
  .qualidade::after {
    right: 67px;
  }

  .qualidade_list li {
    padding: 0 10px;
  }

  /* FOOTER */
  .footer_redes ul li a {
    padding: 5px;
  }

  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }

  /* PRODUTOS */

  .produtos_item h2 {
    top: -155px;
    margin-bottom: -56px;
  }

  .produto_icone {
    padding: 41px 0;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 25px 25px;
  }

  .produto_info ul li {
    width: 181px;
  }
}

@media only screen and (max-width: 787px) {
  /* GERAL */
  .header_menu ul li a.menu_ativo {
    border-color: #fff;
  }

  /* HEADER */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header_menu {
    text-align: center;
    margin-top: 10px;
  }

  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    width: 120px;
    display: block;
    float: left;
    border: 4px solid #000;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  /* INTRODUÇÃO */
  .introducao {
    margin-top: 0;
    padding-top: 40px;
    background-image: url("../img/bg-mobile.jpg");
  }

  .introducao h1 {
    font-size: 36px;
  }

  .introducao-interna {
    margin-top: 0px;
  }

  /* QUALIDADE HOME */
  .qualidade::after {
    display: none;
  }

  /* CALL TO ACTION */
  .call {
    padding-top: 20px;
  }

  /* MISSÃO SOBRE */

  .missao_sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }

  .missao_sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }

  /* PRODUTOS */

  .produtos_item h2 {
    top: -108px;
    margin-bottom: -68px;
  }

  .produto_icone {
    padding: 41px 0;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 25px 25px;
  }

  .produto_info ul li {
    width: 149px;
    font-size: 14px;
  }

  /* ORÇAMENTO */

  .form,
  .orcamento_dados ul {
    padding-right: 0px;
  }

  /* CONTATO FORM */

  .contato_form {
    padding-right: 0px;
    margin-bottom: 40px;
  }
}
